# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# PyTorch models
*.pt
*.pth

# Saved models folder
backend/saved_models/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# Environment variables
.env

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/